/* Reset All Values*/
*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--color-body);
}

/* Color Pallete */
:root {
    --color-primary: #44b564;
}

/* =========================== Whole Hero Section =========================== */
.hero_container {
    width: 90%;
    margin: auto;
}

/* Styling navigation menu */
.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 3.3rem 0;
}

.pc_menu {
    display: flex;
    align-items: center;
}

.pc_menu ul li {
    display: inline-block;
    list-style: none;
    padding: 0 1.5rem;
}

.pc_menu a {
    color: black;
    text-decoration: none;
}

.pc_menu li a:hover {
    color: var(--color-primary);
}

.menu {
    display: none;
}

.menu_item {
    width: 20px;
    height: 3px;
    background-color: black;
    margin-bottom: 4px;
}

@media all and (max-width:880px) {
    .nav_container {
        flex-direction: column;
    }

    .menu {
        display: block;
        position: absolute;
        right: 2.5rem;
        top: 6.5rem;
    }
    .menu:hover{
        cursor: pointer;
    }

    .pc_menu ul {
        width: 100%;
        display: none;
    }

    .pc_menu ul li {
        display: block;
        margin-bottom: 2rem;
        padding-bottom: 1.6rem;
        border-bottom: 1px solid black;
        text-align: center;
    }

    .pc_menu ul li a {
        font-size: 2rem;
    }

    .logo {
        width: 100%;
        margin-left: 1.5rem;
        margin-top: 1.5rem;
    }

    .logo img {
        width: 130px;
    }

    .pc_menu ul.active {
        display: block;
    }
}

/* Navigation Bar Ended*/

/* Hero Content */
.hero_content_container {
    display: flex;
    justify-content: space-between;
}

.hero_left {
    width: 36%;
}

.hero_title {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 56px;
}

.hero_left p {
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 40px;
    color: rgba(51, 51, 51, 0.65);
}

.hero_left a {
    border-radius: 40px;
    padding: 1.2rem 3.2rem;
    color: white;
    background: var(--color-primary);
    text-decoration: none;
}

.hero_left a:hover {
    border: 1px solid var(--color-primary);
    background-color: transparent;
    color: #44b564;
}

.hero_right img {
    width: 90%;
}

@media screen and (max-width:862px) {
    .hero_content_container {
        display: block;
    }

    .hero_left {
        width: 100%;
        text-align: center;
    }

    .hero_right {
        width: 80%;
        margin: 4rem auto;
    }
}

/* Hero Content Ended*/
/* =========================== Whole Hero Section Ended =========================== */



/* =========================== Data Section =========================== */
.second_section_container {
    /* border: 1px solid #44b564; */
    width: 80%;
    margin: auto;
    border-radius: 24px;
    box-shadow: 0px 0px 57px -7px rgba(119, 119, 119, 0.12);
    margin-top: 9px;
}

.count_container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
}

.count_item {
    text-align: center;
}

.count_first_tagline {
    font-weight: 500;
    font-size: 2rem;
}

.count_second_tagline {
    font-size: 2.8rem;
    font-weight: 600;
}

.count_third_tagline {
    font-size: 1.8rem;
    color: #777777;
}

#recovered_green_color {
    color: #64CF82;
}

#deaths_red_color {
    color: #FF0000;
}

.country {
    padding-bottom: 3rem;
}

.country p {
    text-align: center;
}

@media screen and (max-width:862px) {
    .count_container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

/* =========================== Data Section Ended =========================== */

/* ======================= What We Do Section ======================= */
.what_we_do_container {
    width: 80%;
    margin: auto;
    margin-top: 190px;
    display: flex;
    justify-content: space-between;
}

.left_do {
    width: 50%;
}

.left_do img {
    width: 100%;
}

.right_do {
    width: 45%;
}

.right_do h1 {
    font-size: 3.6rem;
    color: #333333;
    position: relative;
}

.right_do h1::after {
    display: block;
    content: '';
    width: 15.3rem;
    height: 3px;
    background: #44b564;
    position: absolute;
    bottom: 0;
    left: 0;
}

.right_do p {
    font-size: 2rem;
    color: #555555;
}

.right_do ul {
    margin-bottom: 8rem;
}

.right_do li {
    list-style-image: url('/img/virus.png');
    font-size: 2rem;
}

.right_do a {
    text-decoration: none;
    font-size: 2rem;
    color: #333333;
}

@media screen and (max-width:1350px) {
    .what_we_do_container {
        flex-direction: column;
    }

    .left_do {
        width: 100%;
    }

    .left_do img {
        width: 60%;
    }

    .right_do {
        width: 100%;
    }
}

/* ======================= What We Do Section Ended ======================= */

/* ======================= Prevention Section ======================= */
.prevention_container {
    width: 55%;
    margin: auto;
    margin-top: 120px;
}

.prevention_container h1 {
    font-size: 3.6rem;
    text-align: center;
    position: relative;
}

.prevention_container h1::after {
    display: block;
    content: '';
    width: 11.5rem;
    height: 2px;
    background: #44b564;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.prevention_container p {
    text-align: center;
    font-size: 2rem;
}

.three_cards_container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 11rem;
}

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 0px 44px -5px rgba(102, 102, 102, 0.1);
}

.card img {
    transform: translateY(-6rem);
    width: 70%;
}

.card h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    text-align: center
}

.card p {
    width: 80%;
    font-size: 1.8rem;
    color: #777777;
    text-align: center;
}

@media screen and (max-width:834px) {
    .three_cards_container {
        flex-wrap: wrap;
    }

    .card {
        width: 80%;
        margin: auto;
        margin-top: 10rem;
    }
}

/* ======================= Prevention Section Ended ======================= */


/* ======================= Symptoms Section ======================= */
.symptom_container {
    width: 55%;
    margin: auto;
    margin-top: 120px;
}

.symptom_container h1 {
    font-size: 3.6rem;
    text-align: center;
    position: relative;
}

.symptom_container h1::after {
    display: block;
    content: '';
    width: 11.5rem;
    height: 3px;
    background: #44b564;
    position: absolute;
    margin-bottom: -1rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.symptom_container p {
    margin-top: 3rem;
    text-align: center;
    font-size: 2rem;
}

.down img {
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 5rem;
}

/* ======================= Symptoms Section Ended ======================= */

/* ======================= Contact Section ======================= */

.sixth_section{
    background-image: url(/img/Rectangle\ 27.png);
    background-size: cover;
    background-position: bottom;
}

.contact_container {
    background-color: white;
    padding-top: 60px;
    width: 74.485%;
    margin: auto;
    margin-top: 170px;
    box-shadow: 0px 29px 0px -14px #5BC378, 0px 52px 0px -24px #4DB76B, 0px 0px 50px -1px rgba(82, 82, 82, 0.1);
    border-radius: 40px;
}

.contact_container h1 {
    font-size: 3.6rem;
    text-align: center;
    position: relative;
}

.contact_container h1::after {
    display: block;
    content: '';
    width: 11.5rem;
    height: 3px;
    background: #44b564;
    position: absolute;
    margin-bottom: -1rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.contact_container p {
    width: 74%;
    margin: auto;
    margin-top: 3rem;
    text-align: center;
    font-size: 2rem;
}

.form_section {
    margin-top: 8.5rem;
    display: flex;
}

.form_left {
    width: 49%;
    font-size: 1.8rem;
}


.form_right {
    width: 35%;
}

input[type=text],
textarea {
    position: relative;
    display: block;
    background-color: #f4f4f4;
    width: 100%;
    /* Full width */
    padding: 2.2rem;
    /* Some padding */
    border: none;
    /* Gray border */
    border-radius: 1.2rem;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 1rem;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: none
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

.form_right a {
    display: inline-block;
    margin: 3rem 0;
    text-decoration: none;
    font-size: 2rem;
    color: #333333;
}

.footer {
    width: 75%;
    padding-top: 12rem;
    margin: auto;
    color: #f4f4f4;
    display: flex;
    justify-content: space-between;
}

.footer a {
    align-self: center;
    text-decoration: none;
    color: #f4f4f4;
}

@media screen and (max-width:837px) {
    .form_section{
        flex-direction: column;
    }
    .form_left{
        margin: auto;
    }
    .form_right{
        width: 80%;
        padding-top: 3rem;
        margin: auto;
    }
    .footer{
        flex-direction: column;
        text-align: center;
    }
}



/* ======================= Contact Section ======================= */